.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #1d1e20;

  padding: 20px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
}

.menu  li {
  padding: 10px;
}

.menu  li a {
  padding: 10px;
}

/* CSS FLEXBOX */

.flex {
  display: flex;
  flex-wrap: wrap;

  max-width: 800px;
  margin: 0 auto;
}

.flex > div {
  flex: 1 1 200px;
  margin: 10px;
}
