.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #1d1e20;

  padding: 20px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
}

.menu  li {
  padding: 10px;
}

.menu  li a {
  padding: 10px;
}
